.footer{
    .links{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-bottom: 60px;

        .link{
            background: #D9D9D9;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 15px;
            border-radius: 100px;
            color: #595959;
            transition: 0.3s ease all;
            text-decoration: none;

            .icono{
                height: 20px;
                width: 20px;
                
                svg{
                     width: 100%;
                     height: 100%;
                
                }
            }

            &:hover{
                color: #fff;
            }

            &.youtube:hover{
                background: #ff0000;
            }

            &.linkedin:hover{
                background: #0a66c2;
            }

            &.instagram:hover{
                background: #c13584;
            }

            &.tiktok:hover{
                background: #000;
            }

        }
    }

    .copyright{
        color: #A6A6A6;
        font-size: 14px;
        text-align: center 
    }
}