.trabajos{
    .filtros{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        label{
            display: flex;
        }

        .opcion{
            padding: 10px 20px;
            border-radius: 100px;
            cursor: pointer;
            border: 1px solid #BFBFBF;
            color: #737373;

            .dark & {
                color: #A6A6A6;
                border: 1px solid #595959;
            }
        }

        input[type='radio']{
            display: none;
            &:checked+.opcion{
                background: #D83A3A;
                color: #fff;
                border: 1px solid transparent;
            }
        }

        @media screen and (max-width: 992px) {
            & {
                gap:  10px;
            }
        }
    }

   .grid {
       display: grid ;
       grid-template-columns: repeat(4 , 1fr);
       gap: 40px 20px;

      @media screen and (max-width: 768px) {
          &{
            grid-template-columns: repeat(3, 1fr);
          }
      }

      @media screen and (max-width: 576px) {
        &{
          grid-template-columns: repeat(2, 1fr);
        }
    }

       .trabajo{
           .thumb{
               width: 100%;
               display: inline-block;
               border-radius: 5px;
               overflow: hidden;
               margin-bottom: 10px;
               img{
                width: 100%;
                vertical-align: top;
                transform: scale(110%);
                transition: 0.5s ease all;
               }
           }
           
           &:hover img {
             transform: scale(100%);
           }
          
          .info{
              display: flex;
              gap: 10px;
              justify-content: space-between;
              align-items: flex-start; 

              .nombre{
                display: inline-block;
                color: #000000;
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;

                .dark & {
                    color: #fff;
                }
              }

              .categoria{
                  font-size: 14px;
                  color: #737373;
              }

              .btn-ir{
                 background: none;
                 border: none;
                 cursor: pointer;
                 display: flex;
                 align-items: center;
                 width: 30px;
                 height: 30px;

                 svg{
                    width: 100%;
                    color: #D83A3A;
                    transition: 0.3 ease all;
                 }
              }

          }
      }

   }
}