.dark-mode {
    background: #D9D9D9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;

    input {
        display: none;
    }

    .icono {
        padding: 7px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        color: #595959;

        &.active {
            background: #072537;
            border: 3px solid #D9D9D9;
        }

        &.sol.active svg {
            color: #dbff00 ;
        }

        &.luna.active svg {
            color: #fff ;
        }
    }
}